# --- Push packages & devshells to the cachix binary cache service
name: cachix push

on:
  workflow_dispatch: # allows manual triggering from the Actions UI
  push:
    branches:
      - main

jobs:
  cachix-push:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checking out repository..."
        uses: actions/checkout@v4

      - name: "Installing and configuring the nix package manager..."
        uses: cachix/install-nix-action@v31
        with:
          extra-nix-config: |
            accept-flake-config = true

      # NOTE: Alternatively you can use the DeterminateSystems nix installer
      # - name: "Installing and configuring the nix package manager..."
      #   uses: DeterminateSystems/nix-installer-action@main
      #   with:
      #     extra-conf: |
      #       accept-flake-config = true

      - name: "Settings up cachix binary cache..."
        uses: cachix/cachix-action@v16
        with:
          name: tsandrini
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      # NOTE Install any necessary packages here
      - name: "Setting up packages..."
        run: |
          nix profile install nixpkgs#nix-fast-build # parallel nix builder

      - name: "Building project packages..."
        run: nix-fast-build --skip-cached --no-nom --flake ".#packages"

      - name: "Building project devShells..."
        run: nix-fast-build --skip-cached --no-nom --flake ".#devShells"
